# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!Snakefile
!/metadata
!/scripts
!/envs
!/vis
!/juptyer_notebooks
!/**/GO_MWU.ipynb

/**/*RDat*

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
